/*

*/
/* .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  } */
  
  /* .video-responsive iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
    position: absolute;
  } */

  .main-container {
    width:100%;
    height: 100%;
    background-color: whitesmoke;
  }

  .header-container {
    width: 100%;
    height: 100px;
    align-content: center;
    /* vertical-align: middle; */
    /* background-image: url('./images/header_background.jpg'); */
  }

  .header-text {
    /* display: inline-block; */
    margin: 3%;
    color: black;
  }

  .url-input {
    width: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
    /* border: none; */
    /* border: 2px solid #008CBA; */
    border: 3px solid #8a8a8a;
    border-radius: 4px;
    outline: none;
  }

  .url-input:focus {
    border: 3px solid #555;
  }

  .submit-btn-container {
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .submit-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1%;
    border-radius: 6px;
    width: 20%;
  }
  .submit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.05), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .player-control-container {
    margin: 0%;
  } 

  .play-all-selected-btn {
    background-color: #008CBA;
    color: white;
    /* border: 2px solid black; */
    border: none;
    /* color: rgb(20, 20, 20); */
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    margin: 1%;
    border-radius: 6px;
    /* width: 15%; */
  }

  .start-time-text {
    color: blue;
    cursor: pointer;
  }